.main-footer {
    color: rgb(244, 244, 244);
    background-color: #212529;
    padding-top: 3cm;
    position: relative;
    bottom: 0;
    width: 100%;
}

.size {
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
}


.svgColor1{
    filter: brightness(0) invert(1);
}